@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{

    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(Fotoram.io.jpg);

    height: 100%;
    
}

.rec{
    width: 30%;
    height: 100%;
    background-color: #EAEAEA;
    margin-left: 35%;
}
.form{
    width: 84%;

    margin-left: 8%;
    border-radius: 5px;
    margin-top: 10px;

    font-size: 20px;

    text-align: center;
    border-color: #5c5c5c;  

    background-color: #dddbdb;
}  
.header{
    text-align: center;
    padding-top: 150px;
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 55px;
}

.qw_p{
    position: absolute;
    width: 20%;
    margin-left: 5%;
    padding-top: 0px;
    font-size: 16px;
    text-align: center;
    
}


.butt_text_R{
    position: absolute;
    background: #5263FF;
    margin-top: 40px;
    text-align: center;
    color: #EAEAEA;
    width: 20%;
    padding: 5px;

    font-size: 20px;
    border-radius: 5px;
    margin-left: 5%;
}

